a {
  text-decoration: none;
}

.container{
  padding-top: 150px;
  padding-bottom: 70px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  a {
    color: cadetblue;
  }
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: x-small;
  a {
    color: cadetblue;
  }
}

@media (max-width: 670px) {
  .header_logo { display: none; }
}