<% if judged_items.present? %>
  let div;
  
  <% judged_items.each do |judged_item| %>
    div = document.createElement("div");
    div.innerHTML = "<p><%= judged_item %> <br> <%= Item.find_by(name: judged_item).why_release %> </p>";
    document.querySelector(".judge").appendChild(div);
  <% end %>
<% else %>
  document.querySelector(".judge").innerText = '今回は判定できるモノがありませんでした。';
<% end %>