meta[name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover"]

- if admin_url?
  - set_meta_tags title: '管理画面', noindex: true, nofollow: true

= display_meta_tags(default_meta_tags)
